<!DOCTYPE html>
<html>
    <head>
        <title>Medi Help About Us Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a class="location" style="width: 48px;height: 30px;flex-shrink: 0;"></a>
            <a class="location_text">Find A Location</a>
            <a class="call" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <a href="#news">0112-2080619</a>
            <a class="mail" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <a href="#contact">healtcare@gmail.com</a>
            <a class="search" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <input type="text" placeholder="Search..">
        </div>
        <div class="topnavi" style="margin-top:10px">
            <a class="active" href="http://127.0.0.1:5000/" style="margin-left: 180px;">Home</a>
            <a  href="http://127.0.0.1:5000/about-us"style="margin-left: 120px;">About Us</a>
            <a  href="http://127.0.0.1:5000/service" style="margin-left: 120px;">Service</a>
            <a href="http://127.0.0.1:5000/appointment" style="margin-left: 120px;">Appointment</a>
            <a  href="http://127.0.0.1:5000/gallery" style="margin-left: 120px;">Gallery</a>
            <a href="http://127.0.0.1:5000/contact" style="margin-left: 120px;">Contact Us</a>
          </div>
        <div class="text">About-Us</div>
        <div class="text1">Medi-Help</div>
        <img style="width: 550px; height: 360px" class="background" />
        <div class="text3">The skin, our largest organ, serves as a protective barrier against the external environment while also being a canvas for myriad physiological processes. However, its complex nature renders it vulnerable to an array of afflictions. Skin diseases, ranging from common conditions like acne and eczema to more severe ailments like psoriasis and melanoma, pose significant challenges to both patients and healthcare providers. With their diverse manifestations and impacts on physical and psychological well-being, understanding and effectively managing these conditions remain crucial in the realm of healthcare. Skin diseases affect people of all ages, genders, and backgrounds, often disrupting daily life and diminishing quality of life.</div>
        <button class="overlay-button">Explore More </button>
        
        <br>
        <img style="width: 240px; height: 160px" class="bottom-img1" />
        <img style="width: 260px; height: 175px" class="bottom-img2" />
        <img style="width: 260px; height: 175px" class="hand" />
        <img style="width: 240px; height: 160px" class="bottom-img3" />
        <img style="width: 260px; height: 175px" class="bottom-img4" />
    </body>
</html>