<!DOCTYPE html>
<html>
    <head>
        <title>Medi Help gallery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/gallery.css') }}">
    </head>
<body>
    <div class="topnav">
        <a class="location" style="width: 48px;height: 30px;flex-shrink: 0;"></a>
        <a class="location_text">Find A Location</a>
        <a class="call" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
        <a href="#news">0112-2080619</a>
        <a class="mail" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
        <a href="#contact">healtcare@gmail.com</a>
        <a class="search" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
        <input type="text" placeholder="Search..">
    </div>
    <div class="topnavi" style="margin-top:10px">
        <a  href="http://127.0.0.1:5000" style="margin-left: 180px;">Home</a>
        <a  href="http://127.0.0.1:5000/about"style="margin-left: 120px;">About Us</a>
        <a  href="http://127.0.0.1:5000/appointment"style="margin-left: 120px;">appointment</a>
        <a  href="http://127.0.0.1:5000/service"style="margin-left: 120px;">service</a>
        <a class="active" href="http://127.0.0.1:5000/" style="margin-left: 180px;">Gallary</a>
        <a  href="http://127.0.0.1:5000/contact" style="margin-left: 120px;">Contact Us</a>
      </div>
      <h1><center>Lets see our Gallary</center></h1>
      <text> <u>Skin Care</u></text>

      <img class="image1" style="width: 440px;height: 230px;flex-shrink: 0;margin-left: 120px;"></img>
      <img class="image2" style="width: 390px;height: 230px;flex-shrink: 0;margin-left: 120px;"></img>
      <img class="image3" style="width: 790px;height: 423px;flex-shrink: 0;margin-left: 120px;"></img>

</body>
</html>