<!DOCTYPE html>
<html>
    <head>
        <title>Medi Help Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/service.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a class="location" style="width: 48px;height: 30px;flex-shrink: 0;"></a>
            <a class="location_text">Find A Location</a>
            <a class="call" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <a href="#news">0112-2080619</a>
            <a class="mail" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <a href="#contact">healtcare@gmail.com</a>
            <a class="search" style="width: 48px;height: 30px;flex-shrink: 0;margin-left: 120px;"></a>
            <input type="text" placeholder="Search..">
        </div>
        <div class="topnavi" style="margin-top:10px">
            <a  href="http://127.0.0.1:5000/" style="margin-left: 180px;">Home</a>
            <a  href="http://127.0.0.1:5000/about"style="margin-left: 120px;">About Us</a>
            <a class="active" href="http://127.0.0.1:5000/service" style="margin-left: 120px;">Service</a>
            <a href="http://127.0.0.1:5000/appointment" style="margin-left: 120px;">appointment</a>
            <a  href="http://127.0.0.1:5000/gallery" style="margin-left: 120px;">Gallery</a>
            <a  href="http://127.0.0.1:5000/contact" style="margin-left: 120px;">Contact Us</a>
          </div>
          <img style="width: 100%;height: 710px;flex-shrink: 0;" class="background" />

          <div class="card">
            <span class="title"
              >Skin Problems
              <p class="pricing">Free <span class="pricing-time">of charge</span></p>
              <span class="sub-title"
                >Everything on Skin Problems:
                <ul class="list">
                  <li class="list-item"><span class="check">✓</span> Acute Skin Conditions</li>
                  <li class="list-item"><span class="check">✓</span> Cronic Skin Conditions</li>
                  <li class="list-item"><span class="check">✓</span> Skin Infeetions</li>
                  <li class="list-item"><span class="check">✓</span> Skin Discolorations</li>
                </ul>
                <button class="button">
                  <span class="text-button">Enroll now</span>
                </button>
              </span></span
            >
          </div>

          <div class="card1">
            <span class="title"
              >Apoint a Person
              <p class="pricing">Free <span class="pricing-time">of charge</span></p>
              <span class="sub-title"
                >Everything on appoint a person:
                <ul class="list">
                  <li class="list-item"><span class="check">✓</span> Doctors</li>
                  <li class="list-item"><span class="check">✓</span> Specialists</li>
                  <li class="list-item"><span class="check">✓</span> Dermotorlogist</li>
                  <li class="list-item"><span class="check">✓</span> Testimonial</li>
                </ul>
                <button class="button">
                  <span class="text-button">Get an appoinment now</span>
                </button>
              </span></span
            >
          </div>

          <div class="card2">
              <p class="pricing"> Follow US</p>
              <img src ="../static/assets/Images/fb.png" class="image1"/>
              <img src ="../static/assets/Images/insta.png" class="image2"/>
              <img src ="../static/assets/Images/twitter.png" class="image3"/>
              <img src ="../static/assets/Images/link.png" class="image4"/>
          </div>

          
          
    </body>
</html>